/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100&display=swap");

/* common shared styles  */
* {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
.paragraph {
  color: var(--primary-color);
  font-size: 1rem;
  font-weight: 600;
  padding: 60px auto;
}

.btn-primary {
  border-radius: 40px;
  background: var(--pink-color);
  padding: 10px 24px;
  gap: 8px;
  font-size: 1.1rem;
  color: white;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  box-shadow: 2px 2px 5px gray;
}
img:hover {
  cursor: pointer;
}

/* variables  */
:root {
  --primary-color: #3a3a3a;
  --pink-color: #e02c6d;
}

/* header section styles starts here  */

/* nav bar  */
nav {
  display: flex;
  justify-content: space-around;
  padding: 50px 120px;
  align-items: center;
}
nav a {
  color: var(--primary-color);
  padding-left: 35px;
}
nav a:hover {
  color: var(--pink-color);
  text-decoration: underline;
}
nav > h3 {
  color: var(--primary-color);
  font-size: 1.3rem;
}

/* banner part  */
.banner-container {
  display: flex;
  justify-content: space-around;
  padding: 80px 120px;
  margin: auto;
  align-items: center;
}
.banner-text {
  max-width: 590px;
}
.banner-header {
  color: var(--primary-color);
  font-family: Poppins;
  font-size: 52px;
  font-weight: 700;
}
.banner-text > p {
  margin: 20px auto;
}
.banner-camera {
  background-image: url("/images/Circle\ design.svg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 590px;
}
.banner-img {
  width: 100%;
}

.banner-sponsors {
  border: 1px solid var(--primary-color);
  display: flex;
  justify-content: space-around;
  max-width: 78%;
  margin: 30px auto;
  padding: 20px 0;
  align-items: center;
}
.banner-sponsors-1,
.banner-sponsors-2 {
  display: flex;
  justify-content: space-around;
  width: 55%;
  align-items: center;
}
.banner-sponsors-2 {
  width: 45%;
}

/* populer collection, card section starts here  */
.populer-collection {
  margin: 200px auto 0px;
  text-align: center;
}
.populer-collection h2 {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: fit-content;
  padding: 50px 0;
  margin: auto;
  text-align: left;
}
.card {
  width: 320px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding: 15px;
}
.card:hover {
  box-shadow: 2px 2px 5px gray;
}
.card > h3 {
  font-size: 1.45rem;
  font-weight: 600;
  margin-top: 18px;
}
.card img {
  width: 100%;
}
.card-price {
  color: var(--pink-color);
  font-size: 1.4rem;
  font-weight: 400;
  margin-top: 10px;
}
.card-description {
  max-width: 200px;
  margin-top: 20px;
}
.card-button {
  text-align: center;
  margin-left: 920px;
}

/* feature product section starts here  */
.featured-products {
  display: flex;
  justify-content: space-around;
  padding: 130px;
  align-items: center;
}
.featured-products img {
  width: 100%;
}
.featured-products-text {
  max-width: 50%;
  margin-left: 30px;
}
.featured-products h1 {
  color: #0a0826;
  font-size: 2.5rem;
  font-weight: 700;
}
.featured-products p {
  padding: 25px 0px;
  max-width: 500px;
}
.featured-products button {
  border-radius: 5px;
}


/* footer section starts here  */
footer {
  background-color: #0A0826;
  color: white;
  text-align: center;
}
.footer-class, .footer-class p {
  padding: 50px 0px;
}
.footer-icons a {
  padding: 10px;
  color: white;
  font-size: 1.5rem;
}





/* responsive media queries  */

/* meia queries for mobile displays */

@media screen and (max-width: 576px) {
  body {
    text-align: center;
    align-items: center;
  }
  nav,
  nav h3,
  .banner-container,
  .banner-sponsors,
  .featured-products
  {
    flex-direction: column;
    padding: 30px 5px;
  }
  nav a {
    padding-left: 10px;
  }

  .banner-text {
    margin-bottom: 30px;
  }
  .banner-img {
    width: 90%;
    padding: 10px;
  }
  .banner-sponsors img {
    width: 60%;
    padding: 10px;
  }


  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-button {
    margin-left: 200px;
    font-size: 1rem;
    font-weight: 700;
  }

  .featured-products-text {
    padding: 10px;
    max-width: 70%;
    margin: auto;
    text-align: left;
  }
}

/*  media queries for tablet screen  */

@media only screen and (min-width: 576.1px) and (max-width: 1000px) {
  body {
    text-align: center;
    align-items: center;
  }
  nav,
  nav h3,
  .banner-sponsors
  {
    flex-direction: column;
    padding: 20px 5px;
  }
  .banner-container,
  .featured-products {
    flex-direction: column-reverse;
  }
  .banner-camera {
    margin: auto;
    margin-top: -50px;
    margin-bottom: 50px;
  }

  .banner-sponsors img {
    width: 60%;
    padding: 10px;
  }

  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .card-button {
    margin-left: 500px;
  }

  .featured-products img {
    width: 100%;
  }
  .featured-products-text {
      padding: 50px 0px;
      max-width: 100%;
      margin: auto;
      text-align: left;
  }
}
